body {
	margin: 0;
	background-color: #fff;
}

.fontspec {
    font-weight: bold;
    color: #0f40be;
    font-family: 'Rozha One', serif;
}

/*-----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/
#header {
    margin-left: 51px;
    margin-top: 16px;
    font-size: 25pt;
}

#line {
    width: 915px;
    border-bottom: 1px solid #505050;
    position: absolute;
    margin-top: 10px;
}

#main-display {
    margin-top: 28px;
    margin-left: 51px;
}

#nav {
    font-size: 7pt;
    margin-bottom: 30px;
}

#nav span {
    font-weight: bold;
    margin-right: 6px;
}

#parallax {
    background-image: url("https://csci571.com/hw/hw3/images/Cutlery.png");
    width: 781px;
    height: 442px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 51px -50px;
    background-repeat: no-repeat;
    background-size: 781px;

    overflow: hidden;
}

#words-in-picture {
    margin-left: 40px;
    margin-top: 42px;
    font-size: 33pt;
    width: 260px;
    max-height: 25%; 
    line-height: 1.4em;
    
}

#button {
    background-color: white;
    margin-top: 40px;
    margin-left: 5%;
    width: 94px;
    height: 40px;
    border: none;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
}

#header2 {
    font-size: 25px;
    margin-top: 38px;
    margin-bottom: 29px;
    margin-left: 308px;
    width: 350px;
}

#thumbnails {
    margin-left: 51px;
    display: grid;
    grid-template-columns: 394px 394px;
    grid-template-rows: 437px 437px;
    grid-column-gap: 27px;
    grid-row-gap: 18px;
}

.thumbnail .img-background {
    background-color: #a6e1e8;
    width: 100%;
}

.thumbnail img {
    background-size: contain;
    width: 96%;
}

.thumbnail .caption {
    margin-top: 40px;
    text-align: center;
}